{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django To Do List App</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todo/style.css' %}"
</head>
<body>
    <div id="myDIV" class="header">
        <h2>Django To Do List App</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="tittle" id="myInput" placeholder="To do...">
            <button type="submit" class="addBtn">Add</button>
        </form>
    </div>

    <ul id="myUL">
        {% for todo in todos %}
        <li>{{todo.tittle}} <span class="close"><a href="delete/{{todo.id}}">Delete</a></span></li>
        {% endfor %}


    </ul>
</body>
</html>